<!DOCTYPE html>
<html>
<head>
  	<title>GigSpotting</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.4/leaflet.css" />
	<!--[if lte IE 8]>
	    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.4/leaflet.ie.css" />
	<![endif]-->
	<!-- Excluded for testing with source-->

	<script src="http://cdn.leafletjs.com/leaflet-0.4.4/leaflet.js"></script>


	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<a class="brand" href="#"> Gig-Spotting</a>
			<ul class="nav">
				<%= form_tag @index, :remote => true, :method => :get, :class => "navbar-form pull-left" do %>
		        <%= text_field_tag :artist, 
		                            params[:artist], 
		                            :class => 'span2', 
		                            :placeholder => "Artist..." %>
		        <%= text_field_tag :location, 
		                            params[:location], 
		                            :class => 'span2', 
		                            :placeholder => "Location..."%>
		        From: <%= text_field_tag :date, 
		                            params[:date], 
		                            :class => 'span2 srchDate', 
		                            :id => 'srchFromDate',
		                            :placeholder => "Date..." %>
		        To: <%= text_field_tag :date, 
		                            params[:date], 
		                            :class => 'span2 srchDate', 
		                            :id => 'srchToDate',
		                            :placeholder => "Date..." %>
		        <%= submit_tag  "",
		                        :id => 'searchbtn', 
		                        :name => nil, 
		                        :value => 'Search', 
		                        :class => 'btn submittable'%>  
		        <% end %>
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row-fluid"> 
	 		<div class="span12">
	  			<%= yield %>
	  		</div>
	  	</div>
	</div>
</body>
</html>
